[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
fmt = "black app src"

[packages]
gunicorn = "==20.1.0"
pandas = "==1.4.1"
pvlib = "==0.9.0"
pydash = "==5.1.0"
python-dotenv = "==0.19.2"
scipy = "==1.8.0"
Flask = "==2.0.3"
Flask-Cors = "==3.0.10"
mariadb = "*"
scikit-learn = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
